{% extends "base.html" %}
{% block title %} Carrito {% endblock %}
{% block content %}

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<div class="container mt-5">
    <h2>Productos</h2>
    <div class="row">
        {% for producto in productos %}
        <div class="col-sm-4 mb-3 mb-sm-3">
            <div class="card">
                <img src="{{ url_for('static', filename='img/'+ producto[5]) }}" alt="Llanta 1">
                <div class="card-body">
                    <h5 class="card-title">{{producto[1]}}</h5>
                    <h5 class="card-title">{{producto[2]}}</h5>
                    <p class="card-text">{{producto[3]}}</p>
                    <button class="btn btn-primary add-to-cart" data-price="{{producto[3]}}" data-product="{{producto[1]}} {{producto[2]}}">Agregar al Carrito</button>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <h2 class="mt-5">Carrito de Compras</h2>
    <ul id="cart" class="list-group">
        <!-- Aquí se mostrarán los elementos del carrito -->
    </ul>
    <p class="mt-3">Total: $<span id="total">0</span></p>
</div>

<script>
    $(document).ready(function () {
        var cart = [];

        $(".add-to-cart").click(function () {
            var price = parseFloat($(this).data("price"));
            var product = $(this).data("product");

            cart.push({ product: product, price: price });
            updateCart();
        });

        $(document).on("click", ".remove-from-cart", function () {
            var index = $(this).data("index");
            cart.splice(index, 1);
            updateCart();
        });

        function updateCart() {
            var cartList = $("#cart");
            var totalElement = $("#total");
            var total = 0;

            cartList.empty();

            if (cart.length === 0) {
                cartList.append("<li class='list-group-item'>El carrito está vacío</li>");
            } else {
                for (var i = 0; i < cart.length; i++) {
                    var item = cart[i];
                    cartList.append("<li class='list-group-item'>" + item.product +
                        " - $" + item.price.toFixed(0) +
                        " <button class='btn btn-danger btn-sm remove-from-cart' data-index='" + i + "'>Eliminar</button></li>");
                    total += item.price;
                }
            }

            totalElement.text(total.toFixed(0));
        }
    });
</script>

</body>
</html>



{% endblock %}